.container {
    text-align:center;
}
#myCarousel img{
    width:100%;
    margin-top:35px;
    height:400px;
        
        
}
.carousel-inner p {
    margin-top:15px;
    margin-bottom:15px;
    font-size:20px;
}
.row {
    margin-right:-15px;
    margin-left:-15px;
}
.img2 {
    width:250px;
    height:200px;
    
}
img {
    vertical-align:middle;
    border:0;
}